# 2019 Census Data State & Pop

In [7]:
import pandas as pd
import json
import requests
from api_keys import census_key

year = "2019"
dsource = "pep"
dname = "population"
cols = "NAME,POP,DATE_DESC"
group = "group(B02015)"
state = "*"

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}'

data_url = f'{base_url}?get={cols}&for=state:{state}&key={census_key}'
            
response = requests.get(data_url).json()

print(json.dumps(response, indent=4, sort_keys=True))

[
    [
        "NAME",
        "POP",
        "DATE_DESC",
        "state"
    ],
    [
        "Alabama",
        "4903185",
        "7/1/2019 population estimate",
        "01"
    ],
    [
        "Alaska",
        "731545",
        "7/1/2019 population estimate",
        "02"
    ],
    [
        "Arizona",
        "7278717",
        "7/1/2019 population estimate",
        "04"
    ],
    [
        "Arkansas",
        "3017804",
        "7/1/2019 population estimate",
        "05"
    ],
    [
        "California",
        "39512223",
        "7/1/2019 population estimate",
        "06"
    ],
    [
        "Colorado",
        "5758736",
        "7/1/2019 population estimate",
        "08"
    ],
    [
        "Delaware",
        "973764",
        "7/1/2019 population estimate",
        "10"
    ],
    [
        "District of Columbia",
        "705749",
        "7/1/2019 population estimate",
        "11"
    ],
    [
        "Connecticut",
        "3565287",
        "7/1/2019 population estimate",
        "09"
    ],
    [
        "Florida",
        "21477737",
        "7/1/2019 population estimate",
        "12"
    ],
    [
        "Georgia",
        "10617423",
        "7/1/2019 population estimate",
        "13"
    ],
    [
        "Idaho",
        "1787065",
        "7/1/2019 population estimate",
        "16"
    ],
    [
        "Hawaii",
        "1415872",
        "7/1/2019 population estimate",
        "15"
    ],
    [
        "Illinois",
        "12671821",
        "7/1/2019 population estimate",
        "17"
    ],
    [
        "Indiana",
        "6732219",
        "7/1/2019 population estimate",
        "18"
    ],
    [
        "Iowa",
        "3155070",
        "7/1/2019 population estimate",
        "19"
    ],
    [
        "Kansas",
        "2913314",
        "7/1/2019 population estimate",
        "20"
    ],
    [
        "Kentucky",
        "4467673",
        "7/1/2019 population estimate",
        "21"
    ],
    [
        "Louisiana",
        "4648794",
        "7/1/2019 population estimate",
        "22"
    ],
    [
        "Maine",
        "1344212",
        "7/1/2019 population estimate",
        "23"
    ],
    [
        "Maryland",
        "6045680",
        "7/1/2019 population estimate",
        "24"
    ],
    [
        "Massachusetts",
        "6892503",
        "7/1/2019 population estimate",
        "25"
    ],
    [
        "Michigan",
        "9986857",
        "7/1/2019 population estimate",
        "26"
    ],
    [
        "Minnesota",
        "5639632",
        "7/1/2019 population estimate",
        "27"
    ],
    [
        "Mississippi",
        "2976149",
        "7/1/2019 population estimate",
        "28"
    ],
    [
        "Missouri",
        "6137428",
        "7/1/2019 population estimate",
        "29"
    ],
    [
        "Montana",
        "1068778",
        "7/1/2019 population estimate",
        "30"
    ],
    [
        "Nebraska",
        "1934408",
        "7/1/2019 population estimate",
        "31"
    ],
    [
        "Nevada",
        "3080156",
        "7/1/2019 population estimate",
        "32"
    ],
    [
        "New Hampshire",
        "1359711",
        "7/1/2019 population estimate",
        "33"
    ],
    [
        "New Jersey",
        "8882190",
        "7/1/2019 population estimate",
        "34"
    ],
    [
        "New Mexico",
        "2096829",
        "7/1/2019 population estimate",
        "35"
    ],
    [
        "New York",
        "19453561",
        "7/1/2019 population estimate",
        "36"
    ],
    [
        "North Carolina",
        "10488084",
        "7/1/2019 population estimate",
        "37"
    ],
    [
        "North Dakota",
        "762062",
        "7/1/2019 population estimate",
        "38"
    ],
    [
        "Ohio",
        "11689100",
        "7/1/2019 population estimate",
        "39"
    ],
    [
        "Oklahoma",
        "3956971",
        "7/1/2019 population estimate",
        "40"
    ],
    [
        "Oregon",
        "4217737",
        "7/1/2019 population estimate",
        "41"
    ],
    [
        "Pennsylvania",
        "12801989",
        "7/1/2019 population estimate",
        "42"
    ],
    [
        "Rhode Island",
        "1059361",
        "7/1/2019 population estimate",
        "44"
    ],
    [
        "South Carolina",
        "5148714",
        "7/1/2019 population estimate",
        "45"
    ],
    [
        "South Dakota",
        "884659",
        "7/1/2019 population estimate",
        "46"
    ],
    [
        "Tennessee",
        "6829174",
        "7/1/2019 population estimate",
        "47"
    ],
    [
        "Texas",
        "28995881",
        "7/1/2019 population estimate",
        "48"
    ],
    [
        "Vermont",
        "623989",
        "7/1/2019 population estimate",
        "50"
    ],
    [
        "Utah",
        "3205958",
        "7/1/2019 population estimate",
        "49"
    ],
    [
        "Virginia",
        "8535519",
        "7/1/2019 population estimate",
        "51"
    ],
    [
        "Washington",
        "7614893",
        "7/1/2019 population estimate",
        "53"
    ],
    [
        "West Virginia",
        "1792147",
        "7/1/2019 population estimate",
        "54"
    ],
    [
        "Wisconsin",
        "5822434",
        "7/1/2019 population estimate",
        "55"
    ],
    [
        "Wyoming",
        "578759",
        "7/1/2019 population estimate",
        "56"
    ],
    [
        "Puerto Rico",
        "3193694",
        "7/1/2019 population estimate",
        "72"
    ]
]

In [8]:
#create df from JSON
initial_df = pd.DataFrame(response)
initial_df.head()

          0        1                             2      3
0      NAME      POP                     DATE_DESC  state
1   Alabama  4903185  7/1/2019 population estimate     01
2    Alaska   731545  7/1/2019 population estimate     02
3   Arizona  7278717  7/1/2019 population estimate     04
4  Arkansas  3017804  7/1/2019 population estimate     05

In [9]:
#remove unwanted columns
filtered_df = initial_df[[0,1]]
state_pop = filtered_df.drop([0,8,52])
#find & rename column titles 
list(state_pop.columns)
state_pop.columns = ["State","Population"]
state_pop

             State Population
1          Alabama    4903185
2           Alaska     731545
3          Arizona    7278717
4         Arkansas    3017804
5       California   39512223
6         Colorado    5758736
7         Delaware     973764
9      Connecticut    3565287
10         Florida   21477737
11         Georgia   10617423
12           Idaho    1787065
13          Hawaii    1415872
14        Illinois   12671821
15         Indiana    6732219
16            Iowa    3155070
17          Kansas    2913314
18        Kentucky    4467673
19       Louisiana    4648794
20           Maine    1344212
21        Maryland    6045680
22   Massachusetts    6892503
23        Michigan    9986857
24       Minnesota    5639632
25     Mississippi    2976149
26        Missouri    6137428
27         Montana    1068778
28        Nebraska    1934408
29          Nevada    3080156
30   New Hampshire    1359711
31      New Jersey    8882190
32      New Mexico    2096829
33        New York   19453561
34  North Carolina   10488084
35    North Dakota     762062
36            Ohio   11689100
37        Oklahoma    3956971
38          Oregon    4217737
39    Pennsylvania   12801989
40    Rhode Island    1059361
41  South Carolina    5148714
42    South Dakota     884659
43       Tennessee    6829174
44           Texas   28995881
45         Vermont     623989
46            Utah    3205958
47        Virginia    8535519
48      Washington    7614893
49   West Virginia    1792147
50       Wisconsin    5822434
51         Wyoming     578759