# 2019 Census Data State & Pop

In [11]:
import pandas as pd
import json
import requests
from api_keys import census_key

year = "2019"
dsource = "pep"
dname = "population"
cols = "NAME,POP,DATE_DESC"
group = "group(B02015)"
state = "*"

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}'

data_url = f'{base_url}?get={cols}&for=state:{state}&key={census_key}'
            
response = requests.get(data_url).json()

In [12]:
#create df from JSON
initial_df = pd.DataFrame(response)
initial_df.head()

          0        1                             2      3
0      NAME      POP                     DATE_DESC  state
1   Alabama  4903185  7/1/2019 population estimate     01
2    Alaska   731545  7/1/2019 population estimate     02
3   Arizona  7278717  7/1/2019 population estimate     04
4  Arkansas  3017804  7/1/2019 population estimate     05

In [14]:
#remove unwanted columns
filtered_df = initial_df[[0,1]]
state_pop = filtered_df.drop([0,8,52])
#find & rename column titles 
list(state_pop.columns)
state_pop.columns = ["State","Population"]
state_pop.head()

        State Population
1     Alabama    4903185
2      Alaska     731545
3     Arizona    7278717
4    Arkansas    3017804
5  California   39512223