# 2019 Census Data State & Pop

In [1]:
import pandas as pd
import json
import requests
from api_keys import census_key

year = "2019"
dsource = "pep"
dname = "population"
cols = "NAME,POP,DATE_DESC"
group = "group(B02015)"
state = "*"

base_url = f'https://api.census.gov/data/{year}/{dsource}/{dname}'

data_url = f'{base_url}?get={cols}&for=state:{state}&key={census_key}'
            
response = requests.get(data_url).json()

In [2]:
#create df from JSON
initial_df = pd.DataFrame(response)
initial_df.head()

          0        1                             2      3
0      NAME      POP                     DATE_DESC  state
1   Alabama  4903185  7/1/2019 population estimate     01
2    Alaska   731545  7/1/2019 population estimate     02
3   Arizona  7278717  7/1/2019 population estimate     04
4  Arkansas  3017804  7/1/2019 population estimate     05

In [3]:
#remove unwanted columns
filtered_df = initial_df[[0,1]]
state_pop = filtered_df.drop([0,8,52])
#find & rename column titles 
list(state_pop.columns)
state_pop.columns = ["State","Population"]
state_pop.head()

        State Population
1     Alabama    4903185
2      Alaska     731545
3     Arizona    7278717
4    Arkansas    3017804
5  California   39512223

In [8]:
#read in brewery count csv
csv_df = pd.read_csv('./brewery_count_by_state.csv')  
csv_df

,STATE,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AK,20,23,25,25,28,35,36,45,51,59,66,72,75
1,AL,7,9,15,23,25,30,37,52,55,66,68,77,84
2,AR,5,7,13,18,23,29,34,44,53,58,70,76,82
3,AZ,37,45,55,59,77,91,110,130,146,157,170,179,184
4,CA,358,401,472,528,654,788,927,"1,106","1,236","1,370","1,465","1,524","1,571"
5,CO,129,149,185,234,300,352,386,448,500,544,561,586,614
6,CT,21,20,24,39,50,59,76,103,124,149,162,172,176
7,DC,4,6,5,11,12,13,13,13,13,15,17,19,21
8,DE,11,12,13,13,15,21,25,33,38,43,47,51,54
9,FL,60,71,89,113,158,205,264,338,386,464,500,531,571
10,GA,26,25,31,37,48,54,69,102,121,158,186,208,234
11,HI,11,12,15,17,20,26,23,28,38,43,44,50,52
12,IA,27,35,46,54,60,71,94,115,125,137,149,154,166
13,ID,25,33,39,42,51,57,67,76,87,101,118,120,129
14,IL,62,68,95,123,164,210,244,291,338,372,405,418,436
15,IN,43,59,72,95,116,151,163,213,234,261,277,288,295
16,KS,17,21,21,25,27,37,47,53,64,78,78,88,92
17,KY,14,21,25,25,38,48,60,73,86,105,118,128,138
18,LA,12,12,12,15,17,25,34,43,47,60,68,69,75
19,MA,48,52,65,82,98,124,146,189,230,268,293,321,340
20,MD,24,26,40,43,55,73,88,116,141,159,176,188,200
21,ME,44,49,53,60,71,84,102,131,165,186,197,212,227
22,MI,111,131,160,195,256,316,379,452,510,577,605,636,670
23,MN,42,56,70,75,113,142,165,214,239,267,286,301,314
24,MO,51,55,60,63,77,90,116,145,168,192,212,230,249
25,MS,3,*,4,7,10,14,14,16,19,22,25,32,33
26,MT,31,35,41,49,62,74,79,98,108,121,128,137,139
27,NC,61,71,94,125,155,207,260,330,387,443,491,544,578
28,ND,3,3,7,8,10,11,15,22,26,29,31,34,33
29,NE,16,18,20,25,35,39,47,53,60,67,73,78,82
30,NH,19,21,25,35,46,63,73,88,106,125,135,140,156
31,NJ,24,31,29,37,49,71,96,123,146,175,186,198,211
32,NM,26,30,38,48,60,71,86,110,124,143,151,155,161
33,NV,20,20,23,26,34,39,44,46,50,65,71,73,72
34,NY,100,123,150,193,255,329,394,471,532,618,666,720,762
35,OH,75,81,99,114,151,187,236,324,377,437,482,525,563
36,OK,10,10,13,17,18,21,26,43,55,76,88,95,102
37,OR,120,148,180,220,244,281,304,347,386,406,428,441,451
38,PA,118,146,162,183,233,278,333,411,472,560,619,712,761
39,RI,5,6,9,12,14,15,17,27,33,40,51,52,54
40,SC,16,17,23,30,37,51,59,84,94,115,131,149,164
41,SD,8,9,12,12,15,19,21,28,35,45,58,63,64
42,TN,26,31,45,51,69,88,101,120,140,174,196,205,220
43,TX,59,84,107,128,170,220,266,333,387,466,526,581,618
44,UT,18,18,22,24,27,29,34,39,46,54,54,55,61
45,VA,44,54,67,85,117,155,209,287,328,383,420,447,479
46,VT,32,34,39,45,51,66,73,84,90,100,106,111,117
47,WA,157,188,230,266,314,383,424,499,540,600,627,667,692
48,WI,119,126,146,146,168,189,217,261,303,346,365,374,391
49,WV,8,8,8,9,13,17,24,27,32,34,35,38,40
50,WY,16,15,19,25,28,32,33,39,44,51,51,56,59
51,Other,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Total,"2,343","2,725","3,312","3,934","4,938","6,080","7,190","8,863","10,115","11,584","12,532","13,380","14,112"
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#drop na
clean_csv = csv_df.dropna()
clean_csv = clean_csv.drop([7])
clean_csv

,STATE,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,AK,20,23,25,25,28,35,36,45,51,59,66,72,75
1,AL,7,9,15,23,25,30,37,52,55,66,68,77,84
2,AR,5,7,13,18,23,29,34,44,53,58,70,76,82
3,AZ,37,45,55,59,77,91,110,130,146,157,170,179,184
4,CA,358,401,472,528,654,788,927,"1,106","1,236","1,370","1,465","1,524","1,571"
5,CO,129,149,185,234,300,352,386,448,500,544,561,586,614
6,CT,21,20,24,39,50,59,76,103,124,149,162,172,176
8,DE,11,12,13,13,15,21,25,33,38,43,47,51,54
9,FL,60,71,89,113,158,205,264,338,386,464,500,531,571
10,GA,26,25,31,37,48,54,69,102,121,158,186,208,234
11,HI,11,12,15,17,20,26,23,28,38,43,44,50,52
12,IA,27,35,46,54,60,71,94,115,125,137,149,154,166
13,ID,25,33,39,42,51,57,67,76,87,101,118,120,129
14,IL,62,68,95,123,164,210,244,291,338,372,405,418,436
15,IN,43,59,72,95,116,151,163,213,234,261,277,288,295
16,KS,17,21,21,25,27,37,47,53,64,78,78,88,92
17,KY,14,21,25,25,38,48,60,73,86,105,118,128,138
18,LA,12,12,12,15,17,25,34,43,47,60,68,69,75
19,MA,48,52,65,82,98,124,146,189,230,268,293,321,340
20,MD,24,26,40,43,55,73,88,116,141,159,176,188,200
21,ME,44,49,53,60,71,84,102,131,165,186,197,212,227
22,MI,111,131,160,195,256,316,379,452,510,577,605,636,670
23,MN,42,56,70,75,113,142,165,214,239,267,286,301,314
24,MO,51,55,60,63,77,90,116,145,168,192,212,230,249
25,MS,3,*,4,7,10,14,14,16,19,22,25,32,33
26,MT,31,35,41,49,62,74,79,98,108,121,128,137,139
27,NC,61,71,94,125,155,207,260,330,387,443,491,544,578
28,ND,3,3,7,8,10,11,15,22,26,29,31,34,33
29,NE,16,18,20,25,35,39,47,53,60,67,73,78,82
30,NH,19,21,25,35,46,63,73,88,106,125,135,140,156
31,NJ,24,31,29,37,49,71,96,123,146,175,186,198,211
32,NM,26,30,38,48,60,71,86,110,124,143,151,155,161
33,NV,20,20,23,26,34,39,44,46,50,65,71,73,72
34,NY,100,123,150,193,255,329,394,471,532,618,666,720,762
35,OH,75,81,99,114,151,187,236,324,377,437,482,525,563
36,OK,10,10,13,17,18,21,26,43,55,76,88,95,102
37,OR,120,148,180,220,244,281,304,347,386,406,428,441,451
38,PA,118,146,162,183,233,278,333,411,472,560,619,712,761
39,RI,5,6,9,12,14,15,17,27,33,40,51,52,54
40,SC,16,17,23,30,37,51,59,84,94,115,131,149,164
41,SD,8,9,12,12,15,19,21,28,35,45,58,63,64
42,TN,26,31,45,51,69,88,101,120,140,174,196,205,220
43,TX,59,84,107,128,170,220,266,333,387,466,526,581,618
44,UT,18,18,22,24,27,29,34,39,46,54,54,55,61
45,VA,44,54,67,85,117,155,209,287,328,383,420,447,479
46,VT,32,34,39,45,51,66,73,84,90,100,106,111,117
47,WA,157,188,230,266,314,383,424,499,540,600,627,667,692
48,WI,119,126,146,146,168,189,217,261,303,346,365,374,391
49,WV,8,8,8,9,13,17,24,27,32,34,35,38,40
50,WY,16,15,19,25,28,32,33,39,44,51,51,56,59
52,Total,"2,343","2,725","3,312","3,934","4,938","6,080","7,190","8,863","10,115","11,584","12,532","13,380","14,112"

In [23]:
#create new df filtered to state, 2019 to be able to replace col names on
nineteen_csv = pd.DataFrame(clean_csv[["STATE","2019"]])
nineteen_csv

      STATE    2019
0        AK      59
1        AL      66
2        AR      58
3        AZ     157
4        CA   1,370
5        CO     544
6        CT     149
8        DE      43
9        FL     464
10       GA     158
11       HI      43
12       IA     137
13       ID     101
14       IL     372
15       IN     261
16       KS      78
17       KY     105
18       LA      60
19       MA     268
20       MD     159
21       ME     186
22       MI     577
23       MN     267
24       MO     192
25       MS      22
26       MT     121
27       NC     443
28       ND      29
29       NE      67
30       NH     125
31       NJ     175
32       NM     143
33       NV      65
34       NY     618
35       OH     437
36       OK      76
37       OR     406
38       PA     560
39       RI      40
40       SC     115
41       SD      45
42       TN     174
43       TX     466
44       UT      54
45       VA     383
46       VT     100
47       WA     600
48       WI     346
49       WV      34
50       WY      51
52    Total  11,584

In [24]:
# create dict of abbrev names to full names
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

#replace abbrev with full names
nineteen_csv['STATE'] = nineteen_csv['STATE'].replace(states)

nineteen_csv

             STATE    2019
0           Alaska      59
1          Alabama      66
2         Arkansas      58
3          Arizona     157
4       California   1,370
5         Colorado     544
6      Connecticut     149
8         Delaware      43
9          Florida     464
10         Georgia     158
11          Hawaii      43
12            Iowa     137
13           Idaho     101
14        Illinois     372
15         Indiana     261
16          Kansas      78
17        Kentucky     105
18       Louisiana      60
19   Massachusetts     268
20        Maryland     159
21           Maine     186
22        Michigan     577
23       Minnesota     267
24        Missouri     192
25     Mississippi      22
26         Montana     121
27  North Carolina     443
28    North Dakota      29
29        Nebraska      67
30   New Hampshire     125
31      New Jersey     175
32      New Mexico     143
33          Nevada      65
34        New York     618
35            Ohio     437
36        Oklahoma      76
37          Oregon     406
38    Pennsylvania     560
39    Rhode Island      40
40  South Carolina     115
41    South Dakota      45
42       Tennessee     174
43           Texas     466
44            Utah      54
45        Virginia     383
46         Vermont     100
47      Washington     600
48       Wisconsin     346
49   West Virginia      34
50         Wyoming      51
52           Total  11,584